$light-cyan: hsl(193, 38%, 86%)
$neon-green: hsl(150, 100%, 66%)
$grayish-blue: hsl(217, 19%, 38%)
$dark-grayish-blue: hsl(217, 19%, 24%)
$dark-blue: hsl(218, 23%, 16%)


body
    box-sizing: border-box
    margin: 0
    background-color: $dark-blue
    font-size: 28px
    font-family: 'Manrope', sans-serif
    color: $light-cyan
    display: flex
    height: 100vh
    flex-direction: column
    align-items: center
    justify-content: center

    .advcard
        background-color: $dark-grayish-blue
        width: 500px
        height: 30%
        padding: 2rem
        border-radius: 10px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        position: relative

        .advcard-title
            color: $neon-green
            font-size: .5em
            margin-top: -12.5em
            position: absolute
            text-transform: uppercase
            letter-spacing: 4px

        .advcard-text
            text-align: center
            position: static
            max-width: 90%
            // margin-top: 1rem
            line-height: 1.1

        .btn-bg
            background-color: $neon-green
            display: flex
            justify-content: center
            align-items: center
            padding: -50rem
            width: 3rem
            border-radius: 50%
            aspect-ratio: 1
            cursor: pointer
            position: absolute
            margin-bottom: -17rem
            // box-shadow: 0 5px 15px $neon-green

        .btn-bg:hover
            box-shadow: 0 5px 15px $neon-green
            opacity: 1
            transition: box-shadow 0.1s ease-in

        .divider
            display: flex
            justify-content: center
            align-items: center
            flex-direction: row
            position: absolute

            .pattern
                margin: 0 -7.2em -5.5em -7.2em

            

